{% load static %}

<!DOCTYPE html>

<html>

    <head> 
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Performance Measurement App{% endblock title %}</title>   
        <link rel="icon" href="{% static 'img/favicon.ico' %}">
        <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/flatly/bootstrap.min.css">         
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    </head>
    <body>
        <!-- Create Navbar here -->
        {% include 'webapp/navbar.html' %}
        <div class="container-fluid">
            <br>
            <!-- Notification messages -->
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    <p id="message-timer" class="alert alert-success float-center text-center message-text"> 
                        <i class="fa fa-check" aria-hidden="true"></i> &nbsp; {{message}}
                    </p>
                {% endif %}
            {% endfor %}            
           {% block content %}

           

           {% endblock %}

        </div>
        <script src="{% static 'js/app.js' %}"></script>
        <script src="https://releases.jquery.com/git/jquery-git.js"></script>   
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>

        <!--script for autocomplete search bar  -->            
        <script src="https://unpkg.com/@trevoreyre/autocomplete-js"></script>

    </body>
    <br>
    
    <footer class="footer mt-3">
    {% include 'webapp/footer.html' %}
    </footer>



</html>
