{% extends 'webapp/base.html' %}
{% block title %}Create Quarterly Data{% endblock title %}
{% load crispy_forms_tags %}
{% load static %} 
{% block content %}


<h3>Quarterly data</h1>

<hr>



<!--Quarterly data form-->

<div class="container bg-light shadow-md p-5 form-layout">

    <form method="POST" autocomplete="off"  action="">
        {% csrf_token %}

        {{ form.objective|as_crispy_field }}
        {{ form.department|as_crispy_field }}
        {{ form.measure|as_crispy_field }}
        {{ form.quarter|as_crispy_field }}
        {{ form.numerator|as_crispy_field }}
        {{ form.denominator|as_crispy_field }}
        {{ form.impact|as_crispy_field }}
        {{ form.descriptive_impact|as_crispy_field }}


        <br>


        <button type="submit" class="btn btn-primary">                     
            Submit Quarterly Data &nbsp; <i class="fa fa-check" aria-hidden="true"></i>
        </button>
        &nbsp;
        <a href="javascript:history.go(-1)" class="btn btn-secondary"> 
            Return &nbsp; <i class="fa fa-arrow-left" aria-hidden="true"></i>
        </a>



    </form>

</div>



{% endblock content %}


    <!-- <a href="{% url 'view-quarterly-data' measure.id %}" class="btn btn-secondary"> 
      View quarterly data &nbsp; <i class="fa fa-arrow-left" aria-hidden="true"></i>
  </a> -->