{% extends 'webapp/base.html' %}
{% block title %}Create Measure{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}

    <body>

        <div class="container bg-light shadow-md p-5 form-layout">

            <h3> Create a Measure </h3>
            <h6> Start adding in the required details for your measure. </h6>
            <hr>

            <form method="POST" autocomplete="off" >

                {% csrf_token %}  
                {% comment %} {{form.as_p}} {% endcomment %}

                {{ form.department|as_crispy_field }}
                {{ form.objective|as_crispy_field }}
                {{ form.title|as_crispy_field }}
                {{ form.direction|as_crispy_field }}
                {{ form.frequency|as_crispy_field }}
                {{ form.current_year_rate|as_crispy_field }}
                {{ form.target_rate|as_crispy_field }}

                {% comment %} {{form.site|as_crispy_field}}
                {{form.location|as_crispy_field }}
                {{form.owner|as_crispy_field}}
                {{form.retention|as_crispy_field}}
                {{form.content|as_crispy_field}}  {% endcomment %}

                <br>
                <button type="submit" class="btn btn-primary">                     
                    Create a measure &nbsp; <i class="fa fa-check" aria-hidden="true"></i>
                </button>
                &nbsp;
                <a href="{% url 'dashboard' %}" class="btn btn-secondary"> 
                    Return &nbsp; <i class="fa fa-arrow-left" aria-hidden="true"></i>
                </a>
            </form>
        </div>
        <br>

        <!-- for dropdown list -->

        {% comment %} <script src="https://releases.jquery.com/git/jquery-git.js"></script>

        <script>
            $("#id_site").change(function () {
                const url = $("#recordForm").attr("data-cities-url");  // get the url of the `load_cities` view
                const siteId = $(this).val();  
        
                $.ajax({                       
                    url: url,                    // set the url of the request (= /persons/ajax/load-cities/ )
                    data: {
                        'site_id': siteId       
                    },
                    success: function (data) {   // `data` is the return of the `load_cities` view function

                        $("#id_location").html(data);  // replace the contents of the city input with the data that came from the server
                       
                    }
                });
        
            });
        </script> {% endcomment %}

    </body>




{% endblock %}




