{% extends 'webapp/base.html' %}
{% block title %}Create Strategic Initiative{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}

    <body>

        <div class="container bg-light shadow-md p-5 form-layout">

            <h3> Create a Strategic Initiative </h3>
            <h6> Start adding in the required details for your strategic initiative. </h6>
            <hr>

            <form method="POST" autocomplete="off" >

                {% csrf_token %}  

                {% comment %} {{ form.as_p }} {% endcomment %}
                {{form.fiscal_year | as_crispy_field }}

                {{form.title | as_crispy_field }}
                {{form.description | as_crispy_field }}
                {{form.proposed_completion_date | as_crispy_field }}

                

                <br>
                <button type="submit" class="btn btn-primary">                     
                    Create a initiative &nbsp; <i class="fa fa-check" aria-hidden="true"></i>
                </button>
                &nbsp;
                <a href="javascript:history.go(-1)" class="btn btn-secondary"> 
                    Return &nbsp; <i class="fa fa-arrow-left" aria-hidden="true"></i>
                </a>
            </form>
        </div>
        <br>

       

    </body>




{% endblock %}




