{% extends 'webapp/base.html' %}
{% load static %}
{% load custom_tags %}

{% block title %}Dashboard - Regular User{% endblock %}

{% block content %}

<h3 class="text-center">Department: {{ user.department }}</h3>



  <div class="header1">
    <h6>{{ user.first_name }} {{ user.last_name }} 👋 {{ user.email }}
      {% if dept_head %}
      , <b>Department Head Name & Email:</b>
      {% for user in dept_head %}
      {{ user.first_name }} {{ user.last_name }},
      {{ user.email }}
      {% endfor %}
      {% endif %}
      
      <form class="mt-3" id="fiscalYearId" method="GET" action="{% url 'dashboard'%}">
        <label for="dept_fiscal_year">Fiscal Year:&nbsp;</label> {{form.fiscal_year }}
        <!-- <input type="submit" value="Submit" class="btn btn-primary" name="submit"> -->
      </form>
    </h6>
  </div>
 



  <section class="mission_statement">
    <div class="missionstatement">
      <div class="row row-cols-1 row-cols-md-2">
        <!-- Normal user -->
        {% if mission %}
        <div class="col mb-4">
          <div class="card text-black mb-1 h-100 card shadow">
            <div class="card-header"><b>Mission Statement</b></div>
            <div class="card-body">
              <p class="card-text">{{ mission }}</p>
            </div>
          </div>
        </div>
        {% else %}
        <div class="col mb-4">
          <div class="card text-black mb-1 h-100 card shadow">
            <div class="card-header bg-info-subtle"><b>Mission Statement</b></div>
            <div class="card-body">
              <p class="card-text">
                <a class="list-group-item text-bg-danger" href="{% url 'create-mission' %}">
                  <i class="fa fa-pencil fa-fw" aria-hidden="true"></i>&nbsp;Step1: Create Mission
                </a>
              </p>
            </div>
          </div>
        </div>
        {% endif %}
        <!-- Create mission end -->

        <!-- Create overview start -->
        <!-- Normal user -->
        {% if overview %}
        <div class="col mb-4">
          <div class="card text-black mb-1 h-100 card shadow">
            <div class="card-header"><b>Overview</b></div>
            <div class="card-body">
              <p class="card-text">{{ overview }}</p>
            </div>
          </div>
        </div>
        {% else %}
        <div class="col mb-4">
          <div class="card text-black mb-1 h-100 card shadow">
            <div class="card-header bg-info-subtle">
              <b>Overview{% if dept_cmo %}{% else %} - {{ user.department }}{% endif %}</b>
            </div>
            <div class="card-body">
              <p class="card-text">
                <a class="list-group-item text-bg-danger" href="{% url 'create-overview' %}">
                  <i class="fa fa-pencil fa-fw" aria-hidden="true"></i>&nbsp;Step2: Create Overview
                </a>
              </p>
            </div>
          </div>
        </div>
        {% endif %}
        <!-- Create overview end -->
      </div>
    </div>
  </section>


  <div id="dashboard-content">

  {% include 'webapp/base_dashboard.html' %}

  </div>

  <script>
    $(document).ready(function() {
        function updateDashboard(fiscalYearId) {
            $.ajax({
                url: '{% url "dashboard" %}',
                data: {
                    'fiscal_year': fiscalYearId
                },
                success: function(response) {
                    $('#dashboard-content').html(response.dashboard_content);
                    $('[data-bs-toggle="tooltip"]').tooltip();
    
                    // Update navbar PDF links
                    updateNavbarLinks(response.selected_department_id, response.selected_fiscal_year_id);
                },
                error: function(xhr, status, error) {
                    console.log("AJAX request failed:", status, error);
                }
            });
        }
    
        function updateNavbarLinks(departmentId, fiscalYearId) {
            var performanceReportLink = $('a:contains("Performance Report")');
            var approvedPlanLink = $('a:contains("Approved Plan")');
    
            // For regular users, only fiscal year is needed for performance report
            var perfReportUrl = "{% url 'pdf' %}?fiscal_year=" + fiscalYearId;
            performanceReportLink.attr('href', perfReportUrl).attr('target', '_blank');
    
            // For approved plan, both department and fiscal year are needed
            var approvedPlanUrl = "{% url 'pdf3' %}?departments=" + departmentId + "&fiscal_year=" + fiscalYearId;
            approvedPlanLink.attr('href', approvedPlanUrl).attr('target', '_blank');
        }
    
        $('#id_fiscal_year').change(function() {
            var fiscalYearId = $(this).val();
            updateDashboard(fiscalYearId);
        });
    });
    </script>
{% endblock %}