{% extends 'webapp/base.html' %}
{% load static %}
{% load custom_tags %}

{% block title %}Dashboard - City Manager Supervisor{% endblock %}

{% block content %}
<div id="dashboard-content">
  <div class="header1">
    <h6>Welcome, {{ user.first_name }} {{ user.last_name }} 👋 {{ user.email }}
      <b>City Manager Office</b>
      <br><br>
      <form id="filter_form" method="GET" action="{% url 'dashboard' %}">
        <label for="departments" id="dept_id">Departments:&nbsp;</label>{{ form.departments }}
        <label for="fiscal_year">Fiscal Year:&nbsp;</label>{{ form.fiscal_year }}
        <!-- <input type="submit" value="Submit" class="btn btn-primary" name="submit"> -->
      </form>
    </h6>
  </div>
  <div class="card shadow">
  <h3>{{ department.name }}</h3>
  </div>



  <section class="mission_statement">
    <div class="missionstatement ">
      <div class="row row-cols-1 row-cols-md-2 ">
        <!-- Create mission start -->
        {% if mission %}
        <div class="col mb-4 ">
          <div class="card text-black mb-1 h-100 card shadow">
            <div class="card-header"><b>Mission Statement</b></div>
            <div class="card-body">
              <p class="card-text">{{ mission }}</p>
            </div>
          </div>
        </div>
        {% else %}
        <div class="col mb-4">
          <div class="card text-black mb-1 h-100 card shadow">
            <div class="card-header "><b>Mission Statement</b></div>
            <div class="card-body">
              <p class="card-text">
                <a class="list-group-item text-bg-danger" href="{% url 'create-mission' %}?department_id={{ selected_department_id }}">
                  <i class="fa fa-pencil fa-fw" aria-hidden="true"></i>&nbsp;Step1: Create Mission
                </a>
              </p>
            </div>
          </div>
        </div>
        {% endif %}
        <!-- Create mission end -->

        <!-- Create overview start -->
        {% if overview %}
        <div class="col mb-4">
          <div class="card text-black mb-1 h-100 card shadow">
            <div class="card-header"><b>Overview</b></div>
            <div class="card-body">
              <p class="card-text">{{ overview }}</p>
            </div>
          </div>
        </div>
        {% else %}
        <div class="col mb-4">
          <div class="card text-black mb-1 h-100 card shadow">
            <div class="card-header ">
              <b>Overview{% if dept_cmo %}{% else %} - {{ user.department }}{% endif %}</b>
            </div>
            <div class="card-body">
              <p class="card-text">
                <a class="list-group-item text-bg-danger" href="{% url 'create-overview' %}?department_id={{ selected_department_id }}">
                  <i class="fa fa-pencil fa-fw" aria-hidden="true"></i>&nbsp;Step2: Create Overview
                </a>
              </p>
            </div>
          </div>
        </div>
        {% endif %}
        <!-- Create overview end -->
      </div>
    </div>
  </section>

  {% include 'webapp/base_dashboard.html' %}
</div>

<script>
  $(document).ready(function() {
    

    // Listen for changes in the dropdowns
    $('#id_departments, #id_fiscal_year').change(function() {
      var departmentId = $('#id_departments').val();
      var fiscalYearId = $('#id_fiscal_year').val();

      // Send an AJAX request to update the dashboard content
      $.ajax({
        url: '{% url "dashboard" %}',
        data: {
          'departments': departmentId,
          'fiscal_year': fiscalYearId
        },
        success: function(response) {
          // Update the dashboard content with the response
          
          $('body').html(response.content);
     
        },
        error: function(xhr, status, error) {
          console.log("AJAX request failed");
          console.log("Status: " + status);
          console.log("Error: " + error);
        }
      });
    });
  });
</script>


{% endblock %}

