{% extends 'webapp/base.html' %}
{% block title %}Dashboard{% endblock title %}
{% load static %}
{% load custom_tags %}

{% block content %}



<div class="container-fluid ">

    <h6> Welcome, {{user}}! 👋  {{user.first_name}} {{user.last_name}}, {{user.email}}, <b>Department Head Name & Email:</b> 
      {% if dept_head %}
      {% for user in dept_head %}           
              {{ user.first_name }} {{ user.last_name }},
              {{ user.email }}          
      {% endfor %}  
  {% else %}  
  {% endif %} </h6>

  <a class="btn btn-outline-primary btn-sm" href="{% url 'next-fiscal-year' %}">
    Next Fiscal Year &nbsp; <i class="fa fa-plus-circle" aria-hidden="true"></i>
  </a>

    <hr>
</div>



<!--Mission statement & Department overview start-->

<div class="container-fluid ">
        <div class="row">

          <!--Create mission start-->
          {% if mission %}  
          <div class="col">
            <div class="card text-black  mb-1" style="max-width: 100%;">
                <div class="card-header bg-info-subtle"><b>Mission Statement of {{user.department}}</b>  </div>
                <div class="card-body">
                  <p class="card-text">
                    {{mission}}   
                  </p>
                </div>
              </div>
          </div>
          {% else %}

          <div class="col">
            <div class="card text-black  mb-1" style="max-width: 100%;">
                <div class="card-header bg-info-subtle"><b>Mission Statement of {{user.department}}</b></div>
                <div class="card-body">
                  <p class="card-text">
                    <a class="list-group-item text-bg-danger" href="create-mission"><i class="fa fa-pencil fa-fw" aria-hidden="true"></i>&nbsp;Step1: Create Mission</a> 
                  </p>
                </div>
              </div>
          </div>

          {% endif%}

          <!--Create mission end-->


          <!--Create Overview start-->
          {% if overview %}  
          <div class="col">
            <div class="card text-black  mb-1" style="max-width: 100%;">
                <div class="card-header bg-info-subtle"><b>Overview of {{user.department}}</b>  </div>
                <div class="card-body">

                  <p class="card-text">
                    {{overview}}   
                  </p>
                </div>
              </div>
          </div>
          {% else %}

          <div class="col">
            <div class="card text-black  mb-1" style="max-width: 100%;">
                <div class="card-header bg-info-subtle"><b>Overview of {{user.department}}</b></div>
                <div class="card-body">
                  <p class="card-text">
                    <a class="list-group-item text-bg-danger" href="create-overview"><i class="fa fa-pencil fa-fw" aria-hidden="true"></i>&nbsp;Step2: Create Overview</a> 
                  </p>
                </div>
              </div>
          </div>

          {% endif%}

        </div>
<!--Mission statement & Department overview end-->


<!--Strategic Objectives & Focus area start-->

        <div class="row">
          <div class="col ">
            <div class="list-group mb-1">
              <li class="list-group-item bg-info-subtle">
                <b>STRATEGIC OBJECTIVES (This is a purpose statement for an overall vision for your department; must be to City of Rocky Mount Focus Areas) 
                </b>
                </li> 

              {% for objective in objectives %}
              <ul style="list-style-type:square">
                <li>{{objective}} </li> 
              </ul>
              {% endfor %}

            </div>

            <div class="list-group ">
              <li class="list-group-item bg-info-subtle"><b>
                FOCUS AREAS IMPACTED (Must align with at least 3)
              </b>
             </li> 

              {% for focus_area in focus_areas%}
              <ul style="list-style-type:square">
                <li>{{focus_area}}</li>
              </ul>
              {% endfor %}
            </div>
            

        </div>
      </div>
<hr>

<!--Strategic Objectives & Focus area start-->
<div class="container-fluid">

<a class="btn btn-outline-primary btn-sm" href="{% url 'create-measure' %}">
    Create a new measure &nbsp; <i class="fa fa-plus-circle" aria-hidden="true"></i>
</a>
<br><br>

{% if grouped_measures %}
{% for objective_id, measures in grouped_measures.items %}
    <h5 class="objective-header">Objective: {{objective_id}} - {{ d_objective_names|get_item:objective_id }}</h5>
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <!-- <th>ID</th> -->
                <th class="title_column">Title</th>
                <th id="centered-header">Direction</th>
                <th id="centered-header">Frequency</th>
                <th id="centered-header">Current Year Rate</th>
                <th id="centered-header">Target Rate</th>
                <th id="centered-header">Q1</th>
                <th id="centered-header">Q2</th>
                <th id="centered-header">Q3</th>
                <th id="centered-header">Q4</th>
            </tr>
        </thead>

           
            <tbody>
                {% for measure in measures %}
                    <tr>
                        <!-- <td>{{ measure.id}}</td> -->
                        <td class="title_column" width="15%"> {{ measure.title }}</td>
                        <td align="center">{{ measure.direction }}</td>
                        <td align="center">{{ measure.frequency }}</td>
                        <td align="center">{{ measure.current_year_rate }}</td>
                        <td align="center">{{ measure.target_rate }}</td>         
                        {% with measure_id=measure.id %}

                          {% if measure.id in d1 %}
                            <td align="center"><a href="{% url 'view-quarterly-data' measure.id %}">{{ d1|get_item:measure.id }}</a></td>
                          {% else %}
                            <td align="center"> <a href="{% url 'create-quarterly-data' measure.id 'Q1' %}" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"> <i class="fa fa-pencil-square-o" aria-hidden="true" ></i> </a> </td>
                          {% endif %}

                          {% if measure.id in d2 %}
                            <td align="center"><a href="{% url 'view-quarterly-data'  measure.id %}">{{ d2|get_item:measure.id }}</a></td>
                          {% else %}
                            <td align="center"> <a href="{% url 'create-quarterly-data' measure.id 'Q2' %}" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"> <i class="fa fa-pencil-square-o" aria-hidden="true" ></i> </a> </td>
                          {% endif %}

                          {% if measure.id in d3 %}
                            <td align="center"><a href="{% url 'view-quarterly-data'  measure.id %}">{{ d3|get_item:measure.id }}</a></td>
                          {% else %}
                            <td align="center"> <a href="{% url 'create-quarterly-data' measure.id 'Q3' %}" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"> <i class="fa fa-pencil-square-o" aria-hidden="true" ></i> </a> </td>
                          {% endif %}

                          {% if measure.id in d4 %}
                            <td align="center"><a href="{% url 'view-quarterly-data'  measure.id %}">{{ d4|get_item:measure.id }}</a></td>
                          {% else %}
                            <td align="center"> <a href="{% url 'create-quarterly-data' measure.id 'Q4' %}" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"> <i class="fa fa-pencil-square-o" aria-hidden="true" ></i> </a> </td>
                          {% endif %}
         
                        {% endwith %}

                       
                    </tr>
                {% endfor %}
            </tbody>
        </table>
      
    {% endfor %}
{% else %}
    <p class="text-bg-danger">You haven't created any measures.</p>
{% endif %}
</div>



</div>
<!--Test Measure group by objective_id end-->

<!--Table 2 is for Strategic initatives-->

<div class="container-fluid">
<a class="btn btn-outline-primary btn-sm" href="{% url 'create-initiative' %}">
  Create a new initative &nbsp; <i class="fa fa-plus-circle" aria-hidden="true"></i>
</a>

<br><br>
<table class="table table-hover table-bordered">
    <thead class="table-light">
        <tr>
            <th scope="col"> Id </th>
            <th scope="col"> Strategic Initiative Title </th>
            <th scope="col"> Description </th>
            <th scope="col"> Proposed Completion Date </th>
            <th scope="col"> Status </th>
            <th scope="col"> Description of Project Status</th>
            <th scope="col"> Expected Impacts </th>
            <th scope="col"> Notes </th>

        </tr>
    </thead>

    <tbody>

<!-- Initiatives -->
        
        {% for initiative in initiatives %}
        <tr>
            <td> {{initiative.id}} </td>
            <td> {{initiative.title}} </td>
            <td> {{initiative.description}} </td>
            <td> {{initiative.proposed_completion_date}} </td>
            <td> {{initiative.status}} </td>
            <td> {{initiative.description_project_status}} </td>
            <td> {{initiative.expected_impact}} </td>
            <td> {{initiative.notes}} </td>
        </tr>

        {% endfor %} 


    </tbody>

</table>

</div>
</div> <!-- div2 container end-->

{% endblock %}