{% extends 'webapp/base.html' %}
{% block title %}Dashboard{% endblock title %}
{% load static %}

{% block content %}



<div class="container-fluid ">
    <h6> Welcome, {{user}}! 👋  {{user.first_name}} {{user.last_name}}, {{user.email}}, Director Name & Email Address: {{user.first_name}} {{user.last_name}}, {{user.email}}</h6>
  
    <hr>
</div>

<!--Mission statement & Department overview start-->

<div class="container-fluid ">
        <div class="row">
          <div class="col">
            <div class="card text-black  mb-1" style="max-width: 100%;">
                <div class="card-header bg-info-subtle"><b>Mission Statement of {{user.department}}</b></div>
                <div class="card-body">
                  {% comment %} <h5 class="card-title">Mission Statement</h5> {% endcomment %}
                  <p class="card-text">
                    {{mission}}   
                  </p>
                </div>
              </div>

          </div>

          <div class="col">
            <div class="card text-black bs-tertiary-bg mb-1" style="max-width: 100%;">
                <div class="card-header bg-info-subtle"><b>Department Overview of {{user.department}}</b></div>
                <div class="card-body">
                  {% comment %} <h5 class="card-title">Department Overview</h5> {% endcomment %}
                  <p class="card-text">{{overview}}</p>
                </div>
              </div>
          </div>

        </div>
<!--Mission statement & Department overview end-->


<!--Strategic Objectives & Focus area start-->

        <div class="row">
          <div class="col ">
            <div class="list-group mb-1">
              {% comment %} <button type="button" class="list-group-item list-group-item-action active bg-info" aria-current="true">
                STRATEGIC OBJECTIVES (This is a purpose statement for an overall vision for your department; must be to City of Rocky Mount Focus Areas)
              </button> {% endcomment %}

              <li class="list-group-item bg-info-subtle">
                <b>STRATEGIC OBJECTIVES (This is a purpose statement for an overall vision for your department; must be to City of Rocky Mount Focus Areas) 
                </b>
                </li> 

              {% for objective in objectives%}
              <ul style="list-style-type:square">
                <li>{{objective}} </li> 
              </ul>
              {% endfor %}

            </div>

            <div class="list-group ">
              {% comment %} <button type="button" class="list-group-item list-group-item-action active bg-warning" aria-current="true">
                FOCUS AREAS IMPACTED (Must align with at least 3)		
              </button> {% endcomment %}
              <li class="list-group-item bg-info-subtle"><b>
                FOCUS AREAS IMPACTED (Must align with at least 3)
              </b>
             </li> 

              {% for focus_area in focus_areas%}
              <ul style="list-style-type:square">
                <li>{{focus_area}}</li>
              </ul>
              {% endfor %}
            </div>
            
            
       
          {% comment %} <div class="col">
            <div class="card text-white bg-info mb-1" style="max-width: 18rem;">
                <div class="card-header">Focus Areas Impacted</div>
                <div class="card-body">
                  <h5 class="card-title">Focus Areas Impacted</h5>
                  <p class="card-text">A mission statement summarizes why a business exists and helps a company respond to change and make decisions...</p>
                </div>
              </div>
          </div> {% endcomment %}

        </div>

      </div>

<hr>

<!--Strategic Objectives & Focus area start-->

    <a class="btn btn-outline-primary btn-sm" href="{% url 'create-measure' %}">
        Create a new measure &nbsp; <i class="fa fa-plus-circle" aria-hidden="true"></i>
    </a>
    {% comment %} <a class="btn btn-outline-primary btn-sm" href="{% url 'create-mission' %}">
        Create a mission &nbsp; <i class="fa fa-plus-circle" aria-hidden="true"></i>
    </a> {% endcomment %}

    <table class="table table-hover table-bordered">
        <thead class="table-light">
            <tr>
                <th scope="col"> Id </th>
                <th scope="col"> Objective </th>
                <th scope="col"> Measure </th>
                <th scope="col"> Direction </th>
                <th scope="col" id="centered-header"> FY {{current_year}} (Actual) </th>
                <th scope="col" id="centered-header"> FY {{target_year}} Target </th>
                <th scope="col"> Frequency </th>
                <th scope="col" id="centered-header"> {{target_year}} Q1 </th>
                <th scope="col" id="centered-header"> {{target_year}} Q2 </th>
                <th scope="col" id="centered-header"> {{target_year}} Q3 </th>
                <th scope="col" id="centered-header"> {{target_year}} Q4 </th>

            </tr>
        </thead>
        <tbody>

            {% for measure in measures %}
            <tr>
                <td> {{measure.id}} </td>
                <td> Obj# {{measure.objective_id}} </td>
                <td> {{measure.title}} </td>
                <td> {{measure.direction}} </td>
                <td align="center"> {{measure.current_year_rate}} </td>
                <td align="center"> {{measure.target_rate}} </td>
                <td> {{measure.frequency}} </td>

                <!--pencil icoin <i class="fa fa-pencil-square-o" aria-hidden="true"></i> -->
                <!--line_id, quarter_number, dept_id, obj_id-->
                <td align="center"> 
                  <a href="{% url 'create-quarterly-data'  %}" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i> </a> 
                  {% comment %} <a href="" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">{{quarterly_data}}</a>  {% endcomment %}
                </td>

                {% comment %} {% for object in quarterly_data%}
                <td> <a href="#" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">{{object}}</a> </td>
                {% endfor %} {% endcomment %}

                <td align="center"> <a href="{% url 'create-quarterly-data' %}" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"> <i class="fa fa-pencil-square-o" aria-hidden="true" ></i> </a> </td>
                <td align="center"> <a href="{% url 'create-quarterly-data' %}" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i> </a> </td>
                <td align="center"> <a href="{% url 'create-quarterly-data' %}" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i> </a> </td>
      
            </tr>

            {% endfor %} 

        {% comment %} {% if records %}
            {% for record in records %}
            <tr>

                <td> {{record.id}} </td>
                <td> {{record.site}}  </td>
                <td> {{record.location}} </td>
                <td> {{record.owner}} </td>
                <td> {{record.retention}} </td>
                <td> {{record.content}} </td>
                <td> {{record.create_by}} </td>
                
                <td> {{record.creation_date|date:"m/d/Y"}} </td>
                <td> {{record.review_date|date:"m/d/Y"}}  </td>

                <td> 
                    <div class="d-flex justify-content-center">
                    <a class="btn btn-success btn-sm" href="{% url 'record' record.id %}"> <i class="fa fa-eye" aria-hidden="true"></i> </a> 
                    </div>
                </td>

            </tr>
            {% endfor %}        
        {% endif %} {% endcomment %}

        </tbody>

    </table>


<!-- Pagination for Measures-->

<div class="container-fluid">
    <div class="row my-1">        
         <div class="col-md-4">

            <nav aria-label="...">
                <ul class="pagination">
                  <li class="page-item">
                    {% if measures.has_previous%}
                    <a class="page-link" href="{% url 'dashboard' %}?page={{measures.previous_page_number}}">Previous</a>
                    {% endif%}
                  </li>
                  {% for num_page in measures.paginator.page_range %} <br>
                  {% if measures.number == num_page%} 
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="{% url 'dashboard' %}?page={{num_page}}">{{num_page}}</a>
                    </li>
                  {% else %}
                    <li class="page-item" aria-current="page">
                        <a class="page-link" href="{% url 'dashboard' %}?page={{num_page}}">{{num_page}}</a>
                    </li>
                  {% endif %}
                  {% endfor %}
         
                  <li class="page-item">
                    {% if records.has_next%}
                    <a class="page-link" href="{% url 'dashboard' %}?page={{records.next_page_number}}">Next</a>
                    {% endif %}
                  </li>
                </ul>
              </nav>
         </div>        
    </div>
</div> 




<!--Table 2 is for Strategic initatives-->

<a class="btn btn-outline-primary btn-sm" href="{% url 'create-initiative' %}">
  Create a new initative &nbsp; <i class="fa fa-plus-circle" aria-hidden="true"></i>
</a>

<br><br>
<table class="table table-hover table-bordered">
    <thead class="table-light">
        <tr>
            <th scope="col"> Id </th>
            <th scope="col"> Strategic Initiative Title </th>
            <th scope="col"> Description </th>
            <th scope="col"> Proposed Completion Date </th>
            <th scope="col"> Status </th>
            <th scope="col"> Description of Project Status</th>
            <th scope="col"> Expected Impacts </th>
            <th scope="col"> Notes </th>

        </tr>
    </thead>

    <tbody>

<!-- Initiatives -->
        
        {% for initiative in initiatives %}
        <tr>
            <td> {{initiative.id}} </td>
            <td> {{initiative.title}} </td>
            <td> {{initiative.description}} </td>
            <td> {{initiative.proposed_completion_date}} </td>
            <td> {{initiative.status}} </td>
            <td> {{initiative.description_project_status}} </td>
            <td> {{initiative.expected_impact}} </td>
            <td> {{initiative.notes}} </td>
        </tr>

        {% endfor %} 


    </tbody>

</table>

</div>

{% endblock %}