
{%load static%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  
<link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
<!-- Site footer -->
<footer class="site-footer" bg-primary>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h6>City of Rocky Mount, NC</h6>
                <div>
                    <div class="col-sm-12 col-md-6">
                        <p><span style="font-size: large;"><b></b></span></p>
                        <p>331 S. Franklin St., PO Box 1180<br> Rocky Mount, NC 27802-1180</p>
                    </div>
                    <div>
                        <div>Phone: <span style="color: #009dc9;">252-972-1111</span></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-3">
                <h6>Categories</h6>
                <ul class="footer-links">
                    <li><a href="#">Templates</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-md-3">
                <h6>Quick Links</h6>
                <ul class="footer-links">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">Copyright &copy; 2024 All Rights Reserved by <a href="#">City of Rocky Mount Technolgy Services</a>.</p>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="social-icons">
                    <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>