{% extends 'webapp/base.html' %}
{% load static %}
{% block title %}Performance Application{% endblock title %}
{% block content %}   

<div class="container">
    <div class="logo-container">
        <img class="beating-logo" src="{% static 'img/logo.svg' %}" alt="Logo Image">
    </div>

    <div class="text-center">
        <h3>Performance Management Tracker (PMT)</h3>
        <h5>Keep track of your performance effectively!</h5>
        <hr>
        <a class="btn btn-primary" type="button" href="{% url 'register' %}">
            Create your account &nbsp; <i class="fa fa-user-plus" aria-hidden="true"></i>
        </a>
    </div>
</div>

{% endblock %}