{% extends 'webapp/base.html' %}
{% block title %}My Login{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
</head>
    <body>

        <div class="container bg-light shadow-md p-5 form-layout">

            <h3> Login to your account </h3>
            <hr>
            <br>

            <form method="POST" autocomplete="off">
                {% csrf_token %}


                <!-- End of Form -->


                {% comment %} {{ form.as_p}} {% endcomment %}
                {{form.email|as_crispy_field}}
                <br>
                {{form.password|as_crispy_field}} 



                <br>
                <button type="submit" class="btn btn-primary w-100 btn-block p-2"> Login &nbsp; <i class="fa fa-key" aria-hidden="true"></i> </button>
            </form>
            <br>
            <div class="text-center">
                <p> Don't have an account? </p> <a href="{% url 'register' %}"> Register </a>
            </div>

            <div><a href="{% url 'password_reset' %}" class="small text-right">Lost password?</a></div>

        </div>
        <br>
    </body>

{% endblock %}








