{% extends 'webapp/base.html' %}
{% block title %}Create Strategic Initiative{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}

<body>

    <div class="container bg-light shadow-md p-5 form-layout">

        <h3> Next Fiscal Year Migration Tool </h3>
        <br>
        <h4> Please review and select below: </h4>
        <hr>

    
                <form action="" method="POST">
                    {% csrf_token %}


                    <label for="years">Select next fiscal year:</label>

                    <select name="years" >
                        {% for year in fiscal_years %}
                      <option name="years" value="{{ year.id }}">{{ year.name }}</option>
                        {% endfor %}
                    
                    </select>

                    <br>
                    <br>
                    <h6><b>Previous Year Mission:</b></h6>
                    <br>
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th id="centered-header">Mission</th>
                                <th id="centered-header">Bring into Next Fiscal Year</th>
    
                            </tr>
                        </thead>
            
                    
                        <tbody>
                            {% for mission in mission %}
                                <tr>
                                    <!-- <td>{{ measure.id}}</td> -->
                                    <td class="title_column" > {{ mission.name }}</td>
                                    <td align="center" width="25%">
     
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value = {{mission.id}} name="boxes-mission">
                                        </div>  
                       
                                    </td>

                            {% endfor %}

                        </tbody>

                    </table> 


                    <br>
                    <br>
                    <h6><b>Previous Year Overview:</b></h6>
                    <br>
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th id="centered-header">Overview</th>
                                <th id="centered-header">Bring into Next Fiscal Year</th>
    
                            </tr>
                        </thead>
            
                    
                        <tbody>
                            {% for overview in overview %}
                                <tr>
                                    <!-- <td>{{ measure.id}}</td> -->
                                    <td class="title_column" > {{ overview.name }}</td>
                                    <td align="center" width="25%">
                               
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value = {{overview.id}} name="boxes-overview">
                                        </div>  
                                      
                                    </td>

                            {% endfor %}

                        </tbody>

                    </table> 


                    <br>
                    <br>
                    <h6><b>Previous Year Objectives:</b></h6>
                    <br>
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th id="centered-header">Objective</th>
                                <th id="centered-header">Bring into Next Fiscal Year</th>
    
                            </tr>
                        </thead>
            
                    
                        <tbody>
                            {% for objective in objectives %}
                                <tr>
                                    <!-- <td>{{ measure.id}}</td> -->
                                    <td class="title_column" > {{ objective.name }}</td>
                                    <td align="center" width="25%">

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value = {{objective.id}} name="boxes-objectives">
                                        </div>  
                                     
                                    </td>

                            {% endfor %}

                        </tbody>

                    </table> 


                    <br>
                    <br>
                    <h6><b>Previous Year Focus Areas:</b></h6>
                    <br>
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th id="centered-header">Focus Area</th>
                                <th id="centered-header">Bring into Next Fiscal Year</th>
    
                            </tr>
                        </thead>
            
                    
                        <tbody>
                            {% for focus_area in focus_areas %}
                                <tr>
                                    <!-- <td>{{ measure.id}}</td> -->
                                    <td class="title_column" > {{ focus_area.name }}</td>
                                    <td align="center" width="25%">
                               
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value = {{focus_area.id}} name="boxes-focus_areas">
                                        </div>  
                                        
                                    </td>

                            {% endfor %}

                        </tbody>

                    </table> 


                    <br>
                    <br>
                    <h6><b>Previous Year Measures:</b></h6>
                    <br>
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th id="centered-header">Objective</th>
                                <th id="centered-header">Measure</th>
                                <th id="centered-header">Bring into Next Fiscal Year</th>
    
                            </tr>
                        </thead>
            
                    
                        <tbody>
                            {% for measure in measures %}
                                <tr>
                                    
                                    <td class="title_column" > {{ measure.objective }}</td>
                                    <td class="title_column" > {{ measure.title }}</td>
                                    <td align="center" width="25%">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value = {{measure.id}} name="boxes-measures">
                                        </div>  
                                        
                                    </td>

                            {% endfor %}

                        </tbody>

                    </table> 


                    <br>
                    <br>
                    <h6><b>Previous Year Strategic Initiatives:</b></h6>
                    <br>
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th id="centered-header">Initiative</th>
                                <th id="centered-header">Bring into Next Fiscal Year</th>
    
                            </tr>
                        </thead>
            
                    
                        <tbody>
                            {% for initiative in initiatives %}
                                <tr>
                                    <td class="title_column" > {{ initiative.title }}</td>
                                    <td align="center" width="25%">

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value = {{initiative.id}} name="boxes-initiatives">
                                        </div>  
                                   
                                    </td>

                            {% endfor %}

                        </tbody>

                    </table> 

                    <br>

                    <button class="btn btn-primary" type="submit">
                        Submit &nbsp; <i class="fa fa-check" aria-hidden="true"></i>
                    </button>

                    &nbsp;
                    <a href="{% url 'dashboard' %}" class="btn btn-secondary">Return &nbsp; <i class="fa fa-arrow-left" aria-hidden="true"></i>
                    </a>

                </form>

        </div>

</body>




{% endblock %}



