{% extends 'webapp/base.html' %}
{% block title %}Create Strategic Initiative{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}

<body>

    <div class="container bg-light shadow-md p-5 form-layout">

        <h3> This is the next fiscal year </h3>
        <h6> See below: </h6>
        <hr>
                <form action="" method="POST">
                    {% csrf_token %}
                    <label for="years">Choose a year:</label>
                    <select name="years" >
                        {% for year in fiscal_years %}
                      <option name="years" value="{{ year.id }}">{{ year.name }}</option>
                        {% endfor %}                    
                    </select>
                    <br>
                    <br>
                    <h6><b>Previous Year Objectives:</b></h6>
                    <br>
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th id="centered-header">Objective</th>
                                <th id="centered-header">Approved</th>    
                            </tr>
                        </thead>            
                    
                        <tbody>
                            {% for objective in objectives %}
                            <tr>
                                <!-- <td>{{ measure.id}}</td> -->
                                <td class="title_column" width="15%"> {{ objective.name }}</td>
                                <td align="center">
                                    {% if objective.approved %}
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" checked="checked"value = {{objective.id}} name="boxes">
                                    </div> 
                                    {% else %}
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value = {{objective.id}} name="boxes">
                                    </div>  
                                    {% endif %}
                                </td>                            
                            </tr>
                            {% endfor %}

                        </tbody>

                    </table> 

                    <br>
                    <br>
                    <h6><b>Previous Year Objectives:</b></h6>
                    <br>
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th id="centered-header">Objective</th>
                                <th id="centered-header">Approved</th>
    
                            </tr>
                        </thead>
            
                    
                        <tbody>
                            {% for objective in objectives %}
                                <tr>
                                    <!-- <td>{{ measure.id}}</td> -->
                                    <td class="title_column" width="15%"> {{ objective.name }}</td>
                                    <td align="center">
                                        {% if objective.approved %}
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" checked="checked"value = {{objective.id}} name="boxes">
                                        </div> 
                                        {% else %}
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value = {{objective.id}} name="boxes">
                                        </div>  
                                        {% endif %}
                                    </td>

                            {% endfor %}

                        </tbody>

                    </table> 

                    <br>

                    <button class="btn btn-outline-primary btn-sm" type="submit">
                        Submit &nbsp; <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    </button>

                </form>

        </div>

</body>




{% endblock %}




