<!--For Approved plan pdf -->


{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ report_name }}</title>
    <style>
      @page {
          margin-top: 0.5cm;
          margin-bottom: 1cm;
          margin-left: 1cm;
          margin-right: 1cm;
      }
      {{ css_content|safe }}
    </style>
    <link rel="stylesheet" href="{% static 'css/pdf.css' %}">
</head>
<body class="pdf-body">
    <header>
      <div class="header-container">
          <div class="logo-container">
              <img src="{{ city_logo }}" alt="City logo" class="city-logo">
          </div>
          <h1 class="pdf-title"> 
            {% if department.name == "City Manager" %}
                Office of the City Manager
            {% elif department.name == "Business & Collections" %}
                Department of Business & Collections Services
            {% elif department.name == "City Clerk" %}
                Office of the City Clerk
            {% elif department.name == "Fire" %}
                Fire Department
            {% elif department.name == "Police" %}
                Police Department
            {% else %}
                Department of {{ department.name }}
            {% endif %}
          </h1>

          <h1 class="pdf-title"> {{fiscal_year}} - {{ report_name }} </h1>
      </div>
    </header>

    <!-- <div class="info-container">
        <p><strong>Name:</strong> {{ username }} <strong>Email:</strong> {{user_email}}</p>
        <p><strong>Department:</strong> {{ department_name }} <strong>Dept Head Name:</strong> {{dept_head_name}} <strong>Dept Head Email:</strong> {{dept_head_email}}</p>
    </div> -->

    <section class="mission-overview">
        <div class="card">
            <h2 class="card-header">Mission Statement</h2>
            <div class="card-body">
                <p>{{missions}}</p>
            </div>
        </div>

        <div class="card">
            <h2 class="card-header">Overview</h2>
            <div class="card-body">
                <p>{{overviews}}</p>
            </div>
        </div>
    </section>

    <section class="objectives-focus-areas">
        <div class="card full-width">
            <h2 class="card-header">Strategic Objectives</h2>
            <div class="card-body">
                <table class="strategic-objectives-list">
                    {% for objective in objectives %}
                    <tr>
                        <td class="objective-number">{{ forloop.counter }}.</td>
                        <td class="objective-text">{{objective}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </section>

    <section class="objectives-focus-areas">
        <div class="card full-width">
            <h2 class="card-header">Focus Areas Impacted</h2>
            <div class="card-body">
                <ul class="focus-areas-list">
                    {% for focus_area in focus_areas %}
                    <li>{{focus_area}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>

    <section class="measures">
        <h2>Performance Measures</h2>
        {% if grouped_measures %}
        {% for objective_id, measures in grouped_measures.items %}
        <div class="card">
            <h3 class="card-header">Objective: {{ d_objective_names|get_item:objective_id }}</h3>
            <div class="card-body">
                <table class="measure-table">
                    <thead>
                        <tr>
                            <th class="measure-column">Measure</th>
                            <th>Direction</th>
                            <th>Frequency</th>
                            <th>{{prev_fiscal_year_name}} Actual</th>
                            <th>{{fiscal_year_selected_name}} Target</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for measure in measures %}
                        <tr>
                            <td class="measure-column">{{ measure.title }}</td>
                            <td>{{ measure.direction }}</td>
                            <td>{{ measure.frequency }}</td>
                            <td>{% if measure.current_year_rate == 0 %} N/A {% else %}{{ measure.current_year_rate }} {% if not measure.is_number %} % {% endif %} {% endif %}</td>
                            <td>{{ target_rate_number|get_item:measure.id }} {% if not measure.is_number %} % {% endif %}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <p class="error-message">You haven't created any measures or the objectives associated with those measures have not been approved.</p>
        {% endif %}
    </section>

    <section class="initiatives">
        <h2>Strategic Initiatives</h2>
        <table class="initiative-table">
            <thead>
                <tr>
                    <th class="initiative-column">Strategic Initiatives</th>
                    <th>Description</th>
                    <th>Proposed Completion Date</th>
                    <!-- <th>Status</th>
                    <th>Project Status Desc</th>
                    <th>Expected Impacts</th> -->
            </thead>
            <tbody>
                {% for initiative in initiatives %}
                <tr>
                    <td class="initiative-column">{{initiative.title}}</td>
                    <td align="left"">{{initiative.description}}</td>
                    <td width="15%">{{initiative.proposed_completion_date|date:"m/d/Y"}}</td>
                    <!-- <td>{{ initiative_status|get_item:initiative.id|default:"-" }}</td>
                    <td>{{ initiative_desc_of_s|get_item:initiative.id|default:"-" }}</td>
                    <td>{{ initiative_expected_impact|get_item:initiative.id|default:"-" }}</td> -->
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</body>
</html>