{% extends 'webapp/base.html' %}
{% block title %}Quarterly Data Details{% endblock title %}
{% block content %}

<h3>Quarterly data</h3>
<hr>
    <div class="card">
        <div class="card-body">

            <table class="table table-hover table-bordered">
                <thead class="table-light">
                    <tr>
                        <th scope="col"> Measure Title </th>
                        <th scope="col"> Q1 </th>
                        <th scope="col"> Q2 </th>
                        <th scope="col"> Q3 </th>
                        <th scope="col"> Q4 </th>  

                    </tr>
                </thead>

                <tr>
                    <td> {{ measure.title}} </td>
                    <td> {% if q1_data %}
                            {{q1_data.numerator}} / {{q1_data.denominator}}
                            
                        <div class="progress">
                            <div class="progress-bar percentage" role="progressbar" style="width: 20%;"aria-valuenow={{q1_data.get_percentage}} aria-valuemin="0" aria-valuemax="100">{{q1_data.get_percentage}}</div>
                        </div>
                        {% else %}
                            None
                        {% endif %}
                     
                    </td>
                    <td> {% if q2_data %}
                            {{q2_data.numerator}} / {{q2_data.denominator}}
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">{{q2_data.get_percentage}}</div>
                        </div>
                        {% else %}
                            None
                        {% endif %}
                    </td>
                    <td> {% if q3_data %}
                            {{q3_data.numerator}} / {{q3_data.denominator}}
                   
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">{{q3_data.get_percentage}}</div>
                        </div>
                        {% else %}
                            None
                        {% endif %}
                    </td>
                    <td> {% if q4_data %}
                            {{q4_data.numerator}} / {{q4_data.denominator}}
                      
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">{{q4_data.get_percentage}}</div>
                        </div>
                        {% else %}
                            None
                        {% endif %}

                    </td>

                </tr>
            <tbody>


            </tbody>

                </table>

           

                {% comment %}                   
                {% for quarter_data in quarterly_data%}
                <li class="list-group-item">{{quarter_data}}</li>     
            
                {% endfor %} {% endcomment %}

            <hr> 
            

        </div>

    </div>
    <br>
    <a href="{% url 'dashboard' %}" class="btn btn-secondary"> Return &nbsp; <i class="fa fa-arrow-left" aria-hidden="true"></i> </a>

{% endblock %}

