{% extends 'webapp/base.html' %}
{% load static %}
{% block title %}Quarterly Data Details{% endblock title %}
{% block content %}
<h3>Quarterly Data Details</h3>
<hr>
<div class="card">
    <div class="card-body">
        <table class="table table-hover table-bordered">
            <thead class="table-light">
                <tr>
                    <th scope="col"> Metric </th>
                    <th scope="col" style="text-align: center;"> Q1 </th>
                    <th scope="col" style="text-align: center;"> Q2 </th>
                    <th scope="col" style="text-align: center;"> Q3 </th>
                    <th scope="col" style="text-align: center;"> Q4 </th>
                    <th scope="col" style="text-align: center;"> Annual </th>
                </tr>
            </thead>
            <tr>
                <td> {{ measure.title}} </td>
                <td style="text-align: center;">
                    {% if q1_data %}
                    {{q1_data.numerator}} / {{q1_data.denominator}}
                    <div class="progress" id="progress-bar-q1">
                        <div class="progress-bar percentage" role="progressbar">  {{ q1_data.percentage }}% </div>
                    </div>
                    {% else %}
                    -
                    {% endif %}
                </td>
                <td style="text-align: center;">
                    {% if q2_data %}
                    {{q2_data.numerator}} / {{q2_data.denominator}}
                    <div class="progress" id="progress-bar-q2">
                        <div class="progress-bar" role="progressbar">  {{ q2_data.percentage }}%</div>
                    </div>
                    {% else %}
                    -
                    {% endif %}
                </td>
                <td style="text-align: center;">
                    {% if q3_data %}
                    {{q3_data.numerator}} / {{q3_data.denominator}}
                    <div class="progress" id="progress-bar-q3">
                        <div class="progress-bar" role="progressbar">  {{ q3_data.percentage }}%</div>
                    </div>
                    {% else %}
                    -
                    {% endif %}
                </td>
                <td style="text-align: center;">
                    {% if q4_data %}
                    {{q4_data.numerator}} / {{q4_data.denominator}}
                    <div class="progress" id="progress-bar-q4">
                        <div class="progress-bar" role="progressbar">  {{ q4_data.percentage }}%</div>
                    </div>
                    {% else %}
                    -
                    {% endif %}
                </td>

                <td style="text-align: center;">
                    {% if annual_percentage %}
                    {% comment %} {{annual_numerator}} / {{annual_denominator}} {% endcomment %}
                        &nbsp
                    <div class="progress" id="progress-bar-annual">
                        <div class="progress-bar" role="progressbar"> {{ annual_percentage }}%</div>
                    </div>
                    {% else %}
                    -
                    {% endif %}
                </td>

                
            </tr>
            <tbody></tbody>
        </table>
        <hr>
    </div>
</div>
<br>
<a href="javascript:history.go(-1)" class="btn btn-secondary"> Return &nbsp; <i class="fa fa-arrow-left" aria-hidden="true"></i> </a>

<script>
    window.addEventListener('DOMContentLoaded', function() {
        {% if q1_data %}
        animateProgressBar('progress-bar-q1', 0, {{ q1_data.percentage }}, 2000);
        {% else %}
        {% endif %}

        {% if q2_data %}
        animateProgressBar('progress-bar-q2', 0, {{ q2_data.percentage }}, 2000);
        {% else %}
        {% endif %}

        {% if q3_data %}
        animateProgressBar('progress-bar-q3', 0, {{ q3_data.percentage }}, 2000);
        {% else %}
        {% endif %}

        {% if q4_data %}
        animateProgressBar('progress-bar-q4', 0, {{ q4_data.percentage }}, 2000);
        {% else %}
        {% endif %}

        {% if annual_percentage %}
        animateProgressBar('progress-bar-annual', 0, {{ annual_percentage }}, 2000);
        {% else %}
        {% endif %}
    });
  </script>

<script src="{% static 'js/app.js' %}"></script>
    

{% endblock %}