{% extends 'webapp/base.html' %}
{% block title %}Objective Details{% endblock title %}
{% block content %}
<div class="container my-5">
    <div class="card shadow">
        <div class="card-header bg-primary text-white">
            <h3 class="card-title mb-0">Objective Details</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <h5 class="mb-3">Basic Information</h5>
                    <ul class="list-unstyled">
                        <li><strong>Department:</strong> {{ objective.department }}</li>
                        <li><strong>Objective:</strong> {{ objective.name }}</li>
                        <li><strong>Fiscal Year:</strong> {{ objective.fiscal_year }}</li>
                        <li><strong>Approval Status:</strong> {% if objective.approved %}<span class="text-success">Approved</span>{% else %}<span class="text-warning">Pending</span>{% endif %}</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <h5 class="mb-3">Additional Details</h5>
                    <ul class="list-unstyled">
                        <li><strong>Created On:</strong> {{ objective.created_at }}</li>
                        <li><strong>Last Updated:</strong> {{ objective.updated_at }}</li>
                        <li><strong>Created By:</strong> {{ objective.created_by }}</li>
                        <li><strong>Modified By:</strong> {{ objective.modified_by }}</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h5 class="mb-3">Focus Areas Impacted</h5>
                    <ul class="list-group">
                        {% for focus_area in objective.focus_area.all %}
                            <li class="list-group-item">{{ focus_area.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="d-flex justify-content-between">
                <a href="javascript:history.go(-1)" class="btn btn-secondary">
                    <i class="fa fa-arrow-left mr-2"></i> Return
                </a>
                <a href="{% url 'update-objective' objective.id %}" class="btn btn-info">
                    <i class="fa fa-edit mr-2"></i> Update
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}