{% extends 'webapp/base.html' %}
{% block title %}Initiative Detail Data{% endblock title %}
{% block content %}
<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-lg-13">
      <h3 class="mb-4">Initiative Detail Data</h3>
      <div class="card shadow">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <p><strong>Initiative:</strong> {{strategic_initiative.title}}</p>
              <p><strong>Description:</strong> {{strategic_initiative.description}}</p>
            </div>
            <div class="col-md-6">
              <p><strong>Proposed Completion Date:</strong> {{strategic_initiative.proposed_completion_date}}</p>
            </div>
          </div>
          <table class="table table-hover table-bordered ">
            <thead class="table-light">
              <tr>
                <th class="text-center">Status</th>
                <th>Description of Status</th>
                <th class="text-center">Expected Impact</th>
                <th>Notes</th>
                <th class="text-center">Created on</th>
                <th class="text-center">Updated on</th>
              </tr>
            </thead>
            <tbody>
              {% for detail in details %}
              <tr>
                <td class="text-center">{{ detail.status }}</td>
                <td>{{ detail.description_project_status }}</td>
                <td class="text-center">{{ detail.expected_impact }}</td>
                <td>{{ detail.notes }}</td>
                <td class="text-center">{{ detail.created_at|date:"M d, Y" }}</td>
                <td class="text-center">{{ detail.updated_at|date:"M d, Y" }}</td>
              </tr>
              {% empty %}
              <tr>
                <td colspan="6" class="text-center">No details available</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <div class="text-right">
            <a class="btn btn-primary" href="{% url 'create-initiative-detail' strategic_initiative.id %}">
              <i class="fas fa-plus-circle mr-1"></i> Add New Detail
            </a>
          </div>
        </div>
      </div>
      <div class="mt-4">
        <a href="javascript:history.go(-1)" class="btn btn-secondary">
          <i class="fas fa-arrow-left mr-1"></i> Return
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}