

/*
Original code 
*/
.form-layout{

    border-radius: 15px;
    width: 1200px;

}

.message-text{

    color: rgb(255, 253, 253);

}

.page-item{
    color: red;
    background-color: rgb(93, 94, 93);
    
}


.content{
    width: 1920px;
    padding: 3px;
    /* background-color: rgb(240, 9, 21); */
}


body{
	background-color: hsl(0, 5%, 98%);
    font-family: lato;
}

/* for measure actual and target col*/
#centered-header {
    text-align: center;
}

.title-column {
    max-width: 150px; /* Adjust the width as needed */
    word-wrap: break-word;
}

.objective-header {
    background-color: hsl(43, 85%, 90%);
}

/*for card*/
.card {
    margin: 3px;
    background-color: hsl(0, 5%, 98%);
    padding: 10px 10px;
}

.card .card-header{
    font-size: 16px;
    text-transform: uppercase;
}