

/*
Original code 
*/
.form-layout{

    border-radius: 15px;
    width: 1200px;

}

.message-text{

    color: rgb(255, 253, 253);

}

.page-item{
    color: red;
    background-color: rgb(93, 94, 93);
    
}


.content{
    width: 1920px;
    padding: 3px;
    /* background-color: rgb(240, 9, 21); */
}


body{
	background-color: hsl(0, 5%, 98%);
    font-family: lato;
    /*Inter var,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Helvetica,Ubuntu,Roboto,Noto,Arial,sans-serif*/
}

/* for measure actual and target col*/
#centered-header {
    text-align: center;
}

.title-column {
    max-width: 150px; /* Adjust the width as needed */
    word-wrap: break-word;
}



/*for card*/
.card {
    margin: 3px;
    background-color: hsl(0, 5%, 98%);
    padding: 10px 10px;
}

.card .card-header{
    font-size: 16px;
    text-transform: uppercase;
}

table 
{width: 100%;}

th{
  vertical-align: middle;
}


td
{
 max-width: 0;
 overflow: hidden;
 text-overflow: ellipsis;
 white-space: nowrap;
}

/*leaf animation*/
@keyframes falling-leaf {
    0% {
      transform: translate(0, 0) rotate(0deg);
      opacity: 1;
    }
    20% {
      transform: translate(20px, 20px) rotate(18deg);
    }
    40% {
      transform: translate(-15px, 40px) rotate(-12deg);
    }
    60% {
      transform: translate(10px, 60px) rotate(8deg);
    }
    80% {
      transform: translate(-5px, 80px) rotate(-4deg);
    }
    100% {
      transform: translate(0, 100vh) rotate(0deg);
      opacity: 0;
    }
  }
  
  @keyframes reset-leaf {
    0% {
      transform: translate(0, 100vh) rotate(0deg);
      opacity: 0;
    }
    100% {
      transform: translate(0, 0) rotate(0deg);
      opacity: 1;
    }
  }
  
  img[alt="Leaf Image"] {
    animation: falling-leaf 5s linear forwards, reset-leaf 0s 5s linear forwards;
    animation-play-state: paused;
  }
  
  img[alt="Leaf Image"]:hover {
    animation-play-state: running;
  }

  /* leaf animation end */